/* Main website and header text placement */
.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url('images/kanye.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 130%;
    left: -20%;
    top: -5%;
    -webkit-filter: blur(12.5px);
    -moz-filter: blur(12.5px);
    -o-filter: blur(12.5px);
    -ms-filter: blur(12.5px);
    filter: blur(12.5px);
}

.content {
    left: 0;
    right: 0;
    z-index: 9999;
    margin:0;
    padding:0;
}


/* img.header {
    background: rgba(255, 255, 255, 0.5);
}

img.subheader {
    background: rgba(255, 255, 255, 0.5);
} */

/* Slick Carousel Styling */

#carousel-body .slick {
    padding-top: 0%;
}

.slick-list {
    z-index: -1;
}

.slick-next{
    margin-right: 7%;
}
.slick-prev {
    margin-left: 6%;
}

.slick-prev,
.slick-next {
    padding-top: -5%;
    z-index: 1;
    color:rgba(228, 117, 59);
}

.slick-next:before,
.slick-prev:before {
    font-size: 3rem;
    color: rgba(228, 117, 59);
}

.slick-track {
    display: flex;
    align-items: center;
    background: rgba(54, 60, 58);
    border: solid;
    border-color:black;
    border-width:10px;
}

.slick-slide {
    transition: ease-in-out .25s;
    opacity: .4;
    margin: 0.4% 0.75%;
    font-size: 20px;
}

.slick-slide img {
    height: 280px;
    width: 100%;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick div p {
    text-align: center;
    color: rgba(228, 117, 59);
    background: rgba(0, 0, 0);
}


/* Roland TR808 */

.keyboard {
    text-align: center;
}

div.keyboard {
    margin: 5% 5% 2% 5%;
    position: relative;
    text-align:center;
    height: 50%;
}

div.keyboard img{
    z-index:0;
    background-color:rgb(24, 26, 24);
    height: 120%;
}

.keyboard div.container{
    text-align: center;
    color: rgba(228, 117, 59);
    margin-left: 7.5%;
    margin-right: 0;
    z-index: 1;
    top:14.5%;
    position: absolute;
    overflow-y:auto;
    height:57.5%;
    max-width:84.5%;
    border: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
    padding-top:4px;
}
.keyboard p{
    font-size: 1.5rem;
}
*, ::after, ::before{
    table-layout: fixed;
}
table#song-info thead tr th.table-head{
    color: rgba(228, 117, 59);
    font-size:14px;
    background-color: rgba(0, 0, 0, 0.438);
}
tbody{
    color:rgba(228, 117, 59);
    font-size:12px;
    background-color: rgba(0, 0, 0, 0.438);
}

div#plot2{
    margin-top:20px;
}

/* Footer */

.footer {
    position: relative;
    width: 100%;
    background-color: rgba(54, 60, 58);
    color: rgba(228, 117, 59);
    text-align: center;
    height:50%;
  }
  .footer p{
      margin:0 0 0 0;
      height: 30px;
  }