/* Main website and header text placement */
.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url('images/kanye.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    left: 0;
    right: 0;
    z-index: 9999;
    margin:0;
    padding:0;
}

.display-4.text-center {
    font-size: 80px;
    font-weight: 700;
    color: #AC734B;
    background: rgba(54, 60, 58);
    margin: 5% 20% 5% 20%;
}

.lead.text-center {
    font-size: 25px;
    font-weight: 400;
    color: #AC734B;
    background: rgba(54, 60, 58);
    margin: 5%;
}

/* Slick Carousel Styling */

#carousel-body .slick {
    padding-top: 0%;
}

.slick-list {
    z-index: -1;
}

.slick-next{
    margin-right: 8%;
}
.slick-prev {
    margin-left: 6%;
}

.slick-prev,
.slick-next {
    padding-top: -5%;
    z-index: 1;
    color:#AC734B;
}

.slick-next:before,
.slick-prev:before {
    /* content: url("images/knob-resized.png"); */
    /* height: 15px;
    width: 15px; */
    font-size: 3rem;
    color: #AC734B;
}

.slick-track {
    display: flex;
    align-items: center;
    background: rgba(54, 60, 58);
}

.slick-slide {
    transition: ease-in-out .25s;
    opacity: .4;
    margin: 0.4% 0.75%;
    font-size: 20px;
}

.slick-slide img {
    height: 280px;
    width: 100%;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick div p {
    text-align: center;
    color: #AC734B;
    background: rgba(0, 0, 0);
}


/* Roland TR808 */

.keyboard {
    text-align: center;
}

div.keyboard {
    margin: 5% 5% 2% 5%;
    position: relative;
    text-align:center;
    height: 100%;
}

div.keyboard img{
    z-index:0;
    background-color:rgba(54, 60, 58);
    height: 90%;
}
.keyboard div.container{
    text-align: center;
    color: #AC734B;
    margin-left: 7%;
    margin-right: 0;
    z-index: 1;
    top:15%;
    position: absolute;
    overflow-y:auto;
    height:46%;
    max-width:84.5%;
}
table#song-info thead tr th.table-head{
    color: #AC734B;
    font-size:14px;
}
tbody{
    color:#AC734B;
    font-size:12px;
}
/* Footer */
.footer {
    position: relative;
    width: 100%;
    background-color: rgba(54, 60, 58);
    color: #AC734B;
    text-align: center;
    height:50%;
  }
  .footer p{
      margin:0 0 0 0;
      height: 30px;
  }