/* Main website and header text placement */
.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url('images/kanye.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    left: 0;
    right: 0;
    z-index: 9999;
    margin:0;
    padding:0;
}

.display-4.text-center {
    font-size: 80px;
    font-weight: 700;
    color: #AC734B;
    background: rgba(54, 60, 58,0.8);
    margin: 4%;
}

.lead.text-center {
    font-size: 25px;
    font-weight: 400;
    color: #AC734B;
    background: rgba(54, 60, 58,0.8);
    margin: 5%;
}

/* Slick Carousel Styling */

#carousel-body .slick {
    padding-top: 5%;
    margin: 4%;
}

.slick-list {
    z-index: -1;
}
.slick-next{
    margin-right: 30px;
}
.slick-prev {
    margin-left: -10px;
}

.slick-prev,
.slick-next {
    padding-top: -5%;
    z-index: 1;
}

.slick-next:before,
.slick-prev:before {
    content: url("images/knob-resized.png");
    height: 15px;
    width: 15px;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-slide {
    transition: ease-in-out .25s;
    opacity: .4;
    margin: 0 50px;
}

.slick-slide img {
    height: 250px;
    width: 100%;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick div p {
    text-align: center;
    color: #AC734B;
    background: rgba(0, 0, 0, 0.5)
}

.carousel-bg {
    display:block;
    height:320px;
    width:100%;
    position: relative;
    background: rgba(54, 60, 58);
    padding:none;
    margin:none;
    z-index:-1;
    margin-bottom:-27%;
}

/* Television */

.keyboard {
    text-align: center;
}

div.keyboard {
    height: 1500px;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
    background-image: url("images/cropped808.png");
    background-size: 1500px 75%;
    background-repeat:no-repeat;
    background-position: center;
}

.keyboard div.outer-container{
    text-align: left;
    color: red;
    margin-top:16%;
    padding-left: 14%;
    padding-right: 14%;
    width:100%;
    height:38%;
}
